body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.card {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px #ccc;
}

input, button, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: #0044cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #003399;
}

.hidden {
    display: none;
}
